h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 220px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h3 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

body{
    background-color: #F6C125;
}

input {
    padding: 12px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    font-size: 20px;
}
label {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 70%;
}
button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 46%;
    margin-right: 46%;
    width: 8%;
    font-size: 15px;

}
